.cppsummaryeditor-header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  .cppsummaryeditor-title {
    
  }
}
.cppsummaryeditor-content {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  .cppsummaryeditor-preview {
    width: 60%;
  }
}
.cppsummaryeditor-wrapper {
  display: flex;
  height: 83%;
  .cppsummaryeditor-textarea {
    width: 50%;
    height: 100%;
    padding: 20px;
    font-size: 2rem;
    outline: none;
    resize: none;
  }
  .cppsummaryeditor-markdown {
    width: 50%;
    height: 100%;
    padding: 20px;
    outline: none;
  }
}
.cppsummaryeditor-confirm-content {
  text-align: center;
  padding-top: 15px;
  .confirm-save {
    margin: 0 10px;
  }
  .confirm-reset {
    margin: 0 10px;
  }
}