.fullpage-main-content {
  .ue-main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    .ue-list-li {
      flex-grow: 1;
      max-width: 200px;
      margin: 10px 20px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      box-shadow: 5px 5px 5px #999;
      .ue-main-li {
        width: 100%;
        height: 230px;
        padding: 10px 20px;
      }
      .ue-main-img {
        display: block;
        width: 100%;
        height: 180px;
        padding-bottom: 15px;
      }
      .ue-main-name {
        font-size: 20px;
        text-align: center;
        color: #000;
      }
      :hover {
        .ue-main-img {
          opacity: 0.8;
        }
        .ue-main-name {
          color: #777;
        }
      }
    }
    .ue-list-li:hover {
      box-shadow: 10px 10px 10px #777;
      transition: all 0.5s ease-in-out;
    }
  }
}