.home-nav {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  padding: 10px;
  height: 80px;
  background: #000;
  z-index: 10000;
  .homeMenu {
    position: 'fixed';
    top: 0px;
    z-index: 100;
  }
  .nav-logo {
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 100;
    a {
      display: block;
      .nav-img {
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }
  }
  .homePage-nav {
    position: fixed;
    right: 0;
    z-index: 70;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em;
    .actions {
      background: #000;
    }
    li {
      display: inline-block;
      margin: 10px 0;
      position: relative;
      a {
        color: #fff;
        padding: 0 1.1em 1.1em 1.1em;
        font-size: 24px;
      }
    }
    .active {
      a::after {
        content: '';
          margin: 0 1.1em 0 1.1em;
          height: 2px;
          background: #fff;
          display: block;
          position: absolute;
          bottom: -6px;
          left: 0;
          right: 0;
          display: block;
      }
    }
  }
}

.main-page {
  .fullpage-content {
    width: 100%;
    height: 100%;
    padding: 30px 10px;
  }
  .fullpage-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
}
