.home-nav {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  padding: 10px;
  height: 80px;
  background: #000;
  z-index: 10000;
  .homeMenu {
    position: 'fixed';
    top: 0px;
    z-index: 100;
  }
  .homePage-nav {
    position: fixed;
    right: 0;
    z-index: 70;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em;
    .actions {
      background: #000;
    }
    li {
      display: inline-block;
      margin: 10px 0;
      position: relative;
      color: #fff;
      a {
        color: #fff;
        padding: 0 1.1em 1.1em 1.1em;
        font-size: 24px;
      }
      :hover {
        color: #aaa !important;
      }
    }
    .active {
      a::after {
        content: '';
          margin: 0 1.1em 0 1.1em;
          height: 2px;
          background: #fff;
          display: block;
          position: absolute;
          bottom: -6px;
          left: 0;
          right: 0;
          display: block;
      }
    }
  }
}

.main-page {
  .fullpage-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    h1 {
      color:#000;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
    }
  }
  .fullpage-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    object-fit: cover;
  }
  .fullpage-main-content {
    .cpp-main-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
      .cpp-list-li {
        flex-grow: 1;
        max-width: 200px;
        margin: 10px 20px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        box-shadow: 5px 5px 5px #ccc;
        .cpp-main-li {
          width: 100%;
          height: 230px;
          padding: 10px 20px;
        }
        .cpp-main-img {
          display: block;
          width: 100%;
          height: 180px;
          padding-bottom: 15px;
        }
        .cpp-main-name {
          font-size: 20px;
          text-align: center;
          color: #000;
        }
        :hover {
          .cpp-main-img {
            opacity: 0.5;
          }
          .cpp-main-name {
            color: #ccc;
          }
        }
      }
      .cpp-list-li:hover {
        box-shadow: 10px 10px 10px #ccc;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
