.home-nav {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  padding: 10px;
  height: 80px;
  background: #000;
  z-index: 10000;
  .homeMenu {
    position: 'fixed';
    top: 0px;
    z-index: 100;
  }
  .homePage-nav {
    position: fixed;
    right: 0;
    z-index: 70;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em;
    .actions {
      background: #000;
    }
    li {
      display: inline-block;
      margin: 10px 0;
      position: relative;
      color: #fff;
      a {
        color: #fff;
        padding: 0 1.1em 1.1em 1.1em;
        font-size: 24px;
      }
      :hover {
        color: #aaa !important;
      }
    }
    .active {
      a::after {
        content: '';
          margin: 0 1.1em 0 1.1em;
          height: 2px;
          background: #fff;
          display: block;
          position: absolute;
          bottom: -6px;
          left: 0;
          right: 0;
          display: block;
      }
    }
  }
}

.main-page {
  .fullpage-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    h1 {
      color:#000;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
    }
  }
  .fullpage-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
  }
  .fullpage-main-content {
    .cpp-main-list {
      display: flex;
      justify-content: center;
      width: 100%;
      li {
        padding: 10px 20px;
      }
    }
  }
}
