.mini-player-wrapper {
  position: relative;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85px;
  padding: 8px 24px 8px 16px;
  display: flex;
  justify-content: space-between;
  z-index: 10000;
  .song {
    display: flex;
    flex: 4;
    overflow: hidden;
    .content {
      display: flex;
      flex: 1;
      overflow: hidden;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 20px;
      .top {
        display: flex;
        align-items: flex-end;
        white-space: nowrap;
        p {
          margin-bottom: 0;
          color: #b1b1b1;
        }
        .name {
          color: #333333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .split {
          font-size: 10px;
          margin: 0 4px;
        }
        .artists {
          font-size: 10px;
        }
      }
      .time {
        font-size: 10px;
        color: #5c5c5c;
        .split {
          margin: 0 4px;
        }
        
      }
    }
  }
  .control {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .play-icon {
      position: relative;
      width: 45px;
      height: 45px;
      margin: 0 35px;
      border-radius: 50%;
      background: #d33a31;
      cursor: pointer;
      i {
        color: #fff;
      }
    }
    .play-button {
      padding: 10px 0 0 10.5px;
    }
    .icon {
      color: #d33a31;
    }
  }
  .mode {
    display: flex;
    margin: 25px 20px 0 0;
  }
  .progress-bar-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
  }
}